<nav class="sidebar align-items-center d-flex flex-column p-3 bg-light">

  <img src="user.png" height="50px" width="50px">

  <h2 class="text-center m-5">Menu</h2>

  <button class="btn btn-primary my-4 p-3" (click)="toggleForms()">Criar Evento</button>

  <div *ngIf="formVisible" class="form-container">
    <form (ngSubmit)="createEvent()">
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input id="descricao" [(ngModel)]="event.descricao" name="descricao" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="horaInicio">Hora Início</label>
        <input id="horaInicio" [(ngModel)]="event.horaInicio" name="horaInicio" type="datetime-local" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="horaFinal">Hora Final</label>
        <input id="horaFinal" [(ngModel)]="event.horaTermino" name="horaFinal" type="datetime-local" class="form-control" required>
      </div>

      <div class="form-actions">
        <button type="button" class="btn btn-secondary" (click)="toggleForms()">Cancelar</button>
        <button type="submit" class="btn btn-primary">Criar</button>
      </div>
    </form>
  </div>

  <button class="btn btn-danger mt-auto" (click)="logout()">Logout</button>
</nav>
